<div class="row ">
    <div class="col-lg-9"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/b1.jpg" alt="..." /></div>
    <div class="col-lg-3">
                <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!" >Offer1</a>
                <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!" >Offer2</a>
                <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!" >Offer3</a>
                <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!" >Offer4</a>
                <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!" >Offer5</a>
                
    </div>
</div>
<br />  
<br />  
<div class="row">
    <div class="col-sm-3 ">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-danger font-italic font-weight-bold">
                    Never
                </h5>
                <p class="card-text">Never ever share your OTPs  with others</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-danger font-italic font-weight-bold">
                    Never
                </h5>
                <p class="card-text">Never ever share your bank info with others</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-success font-italic font-weight-light">
                    Always
                </h5>
                <p class="card-text">Always change your password frequently</p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title text-success font-italic font-weight-light">
                    Always
                </h5>
                <p class="card-text">Always use trusted websites </p>
                <a href="#" class="card-link">Read More</a>
            </div>
        </div>
    </div>
</div>